/*
Boxed Skin
*/

/* Menu items */
.menuzord-menu > li{
	padding: 18px 0;
}
.menuzord-menu > li > a{
	padding: 8px 16px;
}

/* Active/hover state (menu items) */
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a{
	background: #333;
	color: #fff;
}

/* Dropdown */
.menuzord-menu ul.dropdown{
	top: 71px;
}
.menuzord-menu ul.dropdown li ul.dropdown{
    top: 0;
}

/* Dropdown items */
.menuzord .menuzord-menu ul.dropdown li:hover > a{
	background: #333;
	color: #fff;
}

/* Megamenu */
.menuzord-menu > li > .megamenu{
	top: 71px;
}

/* Search Field */
.menuzord-menu > li.search form{
	padding: 2px 16px;
}

/* Color schemes */
/* blue */
.menuzord.blue .menuzord-menu > li.active > a, 
.menuzord.blue .menuzord-menu > li:hover > a, 
.menuzord.blue .menuzord-menu ul.dropdown li:hover > a{ 
	background: #ca247d; 
	color: #fff;
}

/* Mobile mode (Responsive mode) */
@media (max-width: 900px){
	/* Menu items */
	.menuzord-responsive .menuzord-menu > li{
		padding: 0;
	}
	.menuzord-responsive .menuzord-menu > li > a{
		padding: 12px 20px !important;
	}
}